<footer>
    <hr>
    <div class="footer">
        <ul>
            <h4> About Us :-
                <br>
                <br>
                <li>Created by : Shivam vadhiya</li>
                <li>Contact me : +91 63********</li>
                <li>Instargram : shivam_vadhiya_</li>
                <li>Github : vadhiyashivam26</li>
            </h4>
        </ul>
    </div>
</footer>