<%- include("includes/head.ejs"); %>
<body>
    <h1>This is <%= name %>'s Education information.</h1>
    <div>
        <h3>Education :</h3>
        <p>10<sup>th</sup> : 59.60 percentile</p>
        <p>12<sup>th</sup> : 92.77 percentile</p>
        <p>now, persue BCA at SSSDIIT .</p>
    </div>
    <%- include("includes/footer.ejs"); %>
</body>
</html>