<%- include("includes/head.ejs"); %>
<body>
    <h1>Welcome to <%= name %>'s portfolio page.</h1>

    <h4>Shivam vadhiya is a FULL STACK DEVELOPER. <br> he is passionate about learning new technologies & upgrade his skill in IT field.</h4>

    <%- include("includes/footer.ejs"); %>
</body>
</html>