<%- include("includes/head.ejs"); %>
<body>
    <h1>This information about <%= name %>'s Projects .</h1>

    <div>
        <h3> Projects :-
            <ul>
                <li>Simon say's game</li>
                <li>Guess the number game</li>
                <li>to-do list</li>
                <li>Tic-Tac-Toe game</li>
            </ul>
        </h3>
    </div>
    <%- include("includes/footer.ejs"); %>
</body>
</html>