<%- include("includes/head.ejs"); %>
<body>
    <h1>This page is about <%= name %>'s Skills.</h1>

    <div>
        <h3>Skills :</h3>
        <ul>
            <li>HTML</li>
            <LI>CSS</LI>
            <LI>JAVASCRIPT</LI>
            <LI>GIT & GITHUB</LI>
            <LI>NODE.JS</LI>
            <LI>EXPRESS.JS</LI>
        </ul>
    </div>

    <%- include("includes/footer.ejs"); %>
</body>
</html>